# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
TestResults/

# globs
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
aclocal.m4
autom4te.cache/
*.user
*.tar.gz
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
